.carousel-item {
    height: 10rem;
}
.carousel-caption {
    color: black;
    text-align: center;
    top: 5px;
    bottom: 0;
    left: 75%;

}

.home-slider {
    padding: 0;
}
.home-slider h5{
    font-size: 20px;
}

.home-slider p{
    font-size: 15px;
}